* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
a {
    text-decoration: none;
  }
  
li {
    list-style: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    padding-right: 370px;
    background-color:#f7f7f7;
    color: #151515;
    font-family:'Roboto', sans-serif;
  }
  
.nav-links a {
    color:#151515;
  }
  
  /* LOGO */
.logo {
    font-size: 22px;
    color:#151515;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2rem;
  }
  
  /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
.menu a:hover {
    /* background-color: #4c9e9e; */
    border-radius: 5px;
    transition: 0.3s ease;
    color:blue;
}
  
.menu li {
    padding: 5px 14px;
}


.flex {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.item img{
        display: block;
        width: 100%;
        max-width: 300px; /*actual image width*/
        height: auto; /* maintain aspect ratio*/
        margin-bottom: 15px;
}

.item1 {
    width:fit-content;
    height: fit-content;
    /* border: 1px solid ; */
    margin-left: 45px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.item1 > h2{
    padding-bottom: 0;
    margin-bottom: 0;
}

.item1 >h3{
    margin-top: 0;
    margin-bottom: 0;
}

.item2 {
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 40px;
    font-size:1.3rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px;   
    margin-bottom: 80px;
}

.item2 > p> a {
    color: #1565c0;
}

.item1 > .name {
    text-align: center;
}

.nisho-link {
    color: #1565c0;
    line-height: 1.5;
    text-decoration: none;
}
.item1 >h3 a{
   text-decoration: none; 
}
a:link {
    text-decoration: none;
}

.item1 i{
    color: #1565c0;
 }

.profile-photo-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.profile-photo-icon > li {
    display: flex;
    font-size: 2.5rem;
    padding-left: 10px;
    padding-top: 5px;
}


.item3{
    /* border: 2px solid black; */
    width:fit-content;
    height: fit-content;
    /* border: 1px solid ; */
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 100px;
}

.item3 > h1 {
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    color: #313131;
    font-size: 50px;
}

.item4{
    /* border: 2px solid black; */
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 120px;
    margin-top: 100px;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 40px;
}

.book-title{
    padding-left: 5px;
    padding-top: 15px;
    margin-bottom: 15px;
   
}

.book-title a{
    color: #151515;
    /* transition: color .6s ease;    */
    font-size: 1.25rem;
    font-family: 'montserrat',sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.book-title{
    margin-right: 15px;
}

.book-title a:hover {
    /* color: #151515;
    transition: color 1.6s ease;     */
    text-decoration: underline;
}
.author-date{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    letter-spacing: .03em;
    color: rgba(0,0,0,.54);
    line-height: 1.5;
}


.flex-two {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    width: 100%;
    
    
}

.flex-three {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
}

.item5{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item6{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 276px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
}

.author-highlighted{
    font-weight: 700;
}

.button-pdf{
    color: #1565c0;
    border-color: #1565c0;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: transparent;
    border: 1px, color #1565c0;
    margin-bottom: 0.5rem;
}

.button-pdf a{
    color: #1565c0;
}
.button-pdf a:hover{
    color: white;
}

.button-pdf:hover {
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #1565c0;
    border: 1px, color #1565c0;
    cursor:pointer;
}

.flex-four {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
   
}

.item7{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item7 > h1 {
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    color: #313131;
    font-size: 50px;
}

.item8{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 104px;
    margin-top: 60px;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    margin-bottom: 40px;
    background-color: white;
}

.flex-five {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
}

.item9{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item10{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 277px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 40px;
}

.flex-six {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
}

.item11{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item12{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 277px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 40px;
}

.flex-seven {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
}

.item13{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item14{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 277px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 40px;
}

.flex-eight {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
}

.item15{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item16{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 277px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 60px;
}

.flex-nine {
    display: flex;
    flex-direction: row;
   
}

.item17{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}
.item17 > h1 {
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    color: #313131;
    font-size: 50px;
}

.item18{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 60px;
    margin-left: 207px;
    margin-top: 60px;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 40px;
}

.contact-list{
    font-size: 1.5rem;
    line-height: 2.5em;
}

.contact-list-objet> li > i {
    font-size:2.5rem;
    padding-right: 10px;
}

footer{
    text-align: center;
 }
