body{
    margin: 0;
}

li {
    list-style: none;
}
.titles > h1{
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    color: #151515;
    margin:0;
}

nav a {
    font-size: 1.3rem;
    color: #151515;
    font-family:'Roboto', sans-serif;
}

.container {
    width: 90%;
    /* max-width: 900px; */
    margin: 0 auto;
}

.container-nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
}  

header {
    background-color:#f7f7f7;
    padding: 0.8em 0;
    /* box-shadow: 2px 2px 10px #f1f6f9; */
}

nav ul {
    list-style: none;
    padding-left: 20px;
    display: flex;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover, 
nav a:focus {
    color:blue;
}

.container1{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

.container-profile { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  

}

.container-profile > .item-profile-photo{
    margin-left: 50px;
    margin-top: 60px;
    padding-top: 20px;
}

.container-profile > .item-profile-text{
    margin-right: 40px;
    margin-top: 60px;
    padding-top: 0px;

}
.item-profile-photo{
    /* border: solid black;  */
}

.item-profile-text {
    /* border: solid black; */
}

/* .item1-profile-img img{
    display: block;
    width: 100%;
    max-width: 300px; 
    height: auto; 
    margin-bottom: 15px;
    padding-top: 20px;
} */

#image{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 300px; 
    height: auto; 
    margin-bottom: 15px;
    padding-top: 0;
}

.item-profile-photo {
width:fit-content;
height: fit-content;
/* border: 1px solid ; */
margin-left: 0;
margin-right: 10px;
margin-bottom: 60px;
}

.item-profile-photo > h2{
padding-bottom: 0;
margin-bottom: 0;
}

.item-profile-photo >h3{
margin-top: 0;
margin-bottom: 0;
}

.item2 > p> a {
    color: #1565c0;
}

.item-profile-photo > h2,h3 {
    text-align: center;
}

.nisho-link {
    color: #1565c0;
    line-height: 1.5;
    text-decoration: none;
}

.item-profile-photo >h3 a{
   text-decoration: none; 
}

a:link {
    text-decoration: none;
}

.container-profile i{
    color: #1565c0;
 }

.profile-photo-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.profile-photo-icon > li {
    display: flex;
    font-size: 2.5rem;
    padding-left: 10px;
    padding-top: 5px;
}

.item-profile-text{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    /* margin-right: 60px; */
    /* margin-left: 40px; */
    font-size:1.2rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    text-align: justify;  
    /* margin-right: 0; */
    /* margin-bottom: 80px; */
}

.item3{
    /* border: 2px solid black; */
    width:fit-content;
    height: fit-content;
    /* border: 1px solid ; */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
}

.item3 > h1 {
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    color: #313131;
    font-size: 40px;
}

.item4 {
    /* border: 2px solid black; */
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 40px;
    margin-left: 100px;
    margin-top: 100px;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    /* background-color: white; */
    background-color: #EFEFEF;
    margin-bottom: 40px;
}

.book-title{
    padding-left: 5px;
    padding-top: 15px;
    margin-bottom: 15px;  
}

.book-title a{
    color: #151515;
    /* transition: color .6s ease;    */
    font-size: 1.25rem;
    font-family: 'montserrat',sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.book-title{
    margin-right: 15px;
}

.book-title a:hover {
    /* color: #151515;
    transition: color 1.6s ease;     */
    text-decoration: underline;
}
.author-date{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    letter-spacing: .03em;
    color: rgba(0,0,0,.54);
    line-height: 1.5;
}

.item5{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
}

.item6{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 40px;
    margin-left: 227px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: #EFEFEF;
}

.author-highlighted{
    font-weight: 700;
}

.button-pdf{
    color: #1565c0;
    border-color: #1565c0;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: transparent;
    border: 1px, color #1565c0;
    margin-bottom: 0.5rem;
}

.button-pdf a{
    color: #1565c0;
}
.button-pdf a:hover{
    color: white;
}

.button-pdf:hover {
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #1565c0;
    border: 1px, color #1565c0;
    cursor:pointer;
}

.item7{
    /* border: 2px solid black; */
    width:fit-content;
    height: fit-content;
    /* border: 1px solid ; */
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 100px;
}

.item7 > h1 {
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    color: #313131;
    font-size: 40px;
}

.item8 {
    /* border: 2px solid black; */
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 148px;
    margin-left: 80px;
    margin-top: 100px;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    /* background-color: white; */
    background-color: #EFEFEF;
    margin-bottom: 40px;
}

.item10{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 40px;
    margin-left: 275px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: #EFEFEF;
    margin-bottom: 40px;
}

.item12{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 40px;
    margin-left: 275px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: #EFEFEF;
    margin-bottom: 40px;
}
.item14{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 40px;
    margin-left: 275px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: #EFEFEF;
    margin-bottom: 40px;
}
.item16{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 40px;
    margin-left: 275px;
    margin-top: 0;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: #EFEFEF;
    margin-bottom: 40px;
}

.item17{
    margin-left: 45px;
    margin-right: 0;
    margin-top: 60px;
}
.item17 > h1 {
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    color: #313131;
    font-size: 50px;
}

.item18{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid black; */
    margin-right: 230px;
    margin-left: 0;
    margin-top: 60px;
    font-size:1.1rem;  
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px; 
    background-color: white;
    margin-bottom: 40px;
}

.contact-list{
    font-size: 1.5rem;
    line-height: 2.5em;
}

.contact-list-objet> li > i {
    font-size:2.5rem;
    padding-right: 10px;
}

.item16 span {
    font-style: italic;
}

footer{
    text-align: center;
}

@media (max-width: 576px)  {
    .container {
        width: 100%;
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }

    .titles > h1{
        font-size: 1.4rem;
    }

    nav ul {
      flex-direction: column;
      padding-left: 0px;
      
    }
  
    nav li {
      margin: 0.8em 0;
      font-size: 0.2rem;
    }

    .container1{
        width: 100%;
    }
    .container-profile {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        align-items: center;  
        
    }
    .container-profile > .item-profile-photo {
       padding-top: 0px;
       margin-left: 0px;
       margin-right: 0px;
       margin-bottom: 0px;
    }
    .item-profile-photo > #image {
        /* text-align: center; */
        width: 170px;
        height: auto;
        margin-bottom: 5px;
    }
    .item-profile-photo {
        /* flex-direction: column;
        justify-content: center; */
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .item-profile-photo > h2, h3 {
        font-size: 1rem;
    }
    .container-profile i {
        font-size: 2rem;     
    }
    .item-profile-text {
        /* flex-direction: column;
        justify-content: center; */
        margin-left: 50px;
        margin-bottom: 0;
    }
    .container-profile > .item-profile-text {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .container-profile > .item-profile-text p {
        font-size: 1rem;
        margin-bottom: 0;
    
        
    }
    .item3 > h1 {
        font-family: 'montserrat',sans-serif;
        font-weight: 400;
        color: #313131;
        font-size: 2rem;
    }
    .item3{
        margin-top: 40px;
    }
    .item4{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0;
    }
    .book-content-description {
        text-align: justify;
    }
    .book-title a{
        color: #151515;
        /* transition: color .6s ease;    */
        font-size: 0.95rem;
        font-family: 'montserrat',sans-serif;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    .item5{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .item6{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px; 
        padding-right: 20px;
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0;  
    }
    .item7 > h1 {
        font-family: 'montserrat',sans-serif;
        font-weight: 400;
        color: #313131;
        font-size: 2rem;
    }
    .item7{
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .item8{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right:10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        padding-right: 20px;
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0px;     
    }

    .item9{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    
    .item10{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0px;  
    }

    .item11{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .item12{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0px;  
    }
    .item13{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .item14{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0px;  
    }
    .item15{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .item16{
        /* border: 2px solid black; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-size:1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0;  
    }
    .item16 span {
        font-style: italic;
    }
    .contact-list{
        font-size: 0.9rem;
        line-height: 2.5em;
    }
    .item17 > h1{
        font-family: 'montserrat',sans-serif;
        font-weight: 400;
        color: #313131;
        font-size: 2rem;
    }
    .item17{
        margin-top: 0;
        margin-left: 0px;
    }
    .item18{
        /* border: 2px solid black; */
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 0;
    }

    .item18 ul{
        padding-left: 0;
    }
    .contact-list-objet> li > i {
        font-size:1.6rem;
        padding-right: 10px;
    }
   

}   

@media (min-width:576px) and (max-width:784px) {
    .container {
      text-align: center;
    }
    .container-nav {
      flex-direction: column;
    }
    .titles > h1{
        font-size: 1.4rem;
    }
    nav ul {
      flex-direction: column;  
    }
  
    nav li {
      margin: 0.8em 0;
      font-size: 0.25rem;
    }
    .container-profile {  
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        align-items: center; 
    }
    .container-profile > .item-profile-photo {
       padding-top: 0px;
    }
    .item-profile-photo > #image {    
        width: 250px;
        height: auto;
        margin-bottom: 5px;
    }
    .item-profile-photo {
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .item-profile-photo > h2, h3 {
        font-size: 1.2rem;
    }
    .container-profile i {
        font-size: 2.3rem;     
    }
    .item-profile-text {   
        margin-top: 0;
        padding-top: 0;
        margin-left: 50px;
    }
    .item-profile-text p {
        font-size: 1.2rem;
    }
    .item3 > h1 {
        font-family: 'montserrat',sans-serif;
        font-weight: 400;
        color: #313131;
        font-size: 2.5rem;
    }
    .item3{
        margin-top: 40px;
    }
    .item4{
        /* border: 2px solid black; */
        margin-top: 40px;
        margin-left: 40px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0;
    }
    .book-title a{
        color: #151515;
        /* transition: color .6s ease;    */
        font-size: 1.2rem;
        font-family: 'montserrat',sans-serif;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    .item6{
        /* border: 2px solid black; */
        margin-top: 0;
        margin-left: 40px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 40px;
    }
    .item7 > h1 {
        font-family: 'montserrat',sans-serif;
        font-weight: 400;
        color: #313131;
        font-size: 2.5rem;
    }
    .item7{
        margin-top: 40px;
    }  
    .item8{
        /* border: 2px solid black; */
        margin-top: 40px;
       
        margin-left: 60px;
        margin-right:50px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 40px;
    } 
    .item10{
        /* border: 2px solid black; */
        margin-top: 0;
        margin-left: 40px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 40px;
    }
    .item12{
        /* border: 2px solid black; */
        margin-top: 0;
        margin-left: 40px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 40px;
    }
    .item14{
        /* border: 2px solid black; */
        margin-top: 0;
        margin-left: 40px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 40px;
    }
    .item16{
        /* border: 2px solid black; */
        margin-top: 0;
        margin-left: 40px;
        font-size:1.1rem;  
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 40px; 
        /* background-color: white; */
        background-color: #EFEFEF;
        margin-bottom: 0;
    }
    .item16 span {
        font-style: italic;
    }
    .contact-list{
        font-size: 1rem;
        line-height: 2.5em;
    }
    .item17 > h1{
        font-family: 'montserrat',sans-serif;
        font-weight: 400;
        color: #313131;
        font-size: 2.5rem;
        margin-top: 0px;
    }
    .item18{
        /* border: 2px solid black; */
        margin-right: 40px;
        margin-left: 40px;
        padding-left: 0px;
        margin-top: 0;
    }
} 




@media (min-width: 785px) and (max-width: 992px) {
    
    .titles > h1{
        font-size: 1.3rem;
    }

    nav li {
        font-size: 0.4rem;
      }

    .container1{
        width: 95%;

    }
    
    .container-profile { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .item-profile-photo{
        margin-top: 40px;
    }

    .container-profile > .item-profile-text {
        margin-right: 40px;
        margin-top: 60px;
    }

    .container-profile > .item-profile-photo {
        padding-top: 0px;
        margin-top: 60px;
    }


    .item-profile-photo > h2 {
        font-size: 1.2rem;
    }
    .item-profile-photo > h3 {
        font-size: 1.1rem;
    }
    .container-profile i {
        font-size: 1.9rem;     
    }

    .item-profile-text p {
        font-size: 1.17rem;
        margin-top: 0px;
    }

    .item-profile-photo > #image {
        width: 200px;
        height: auto;
        margin-bottom: 5px; 
    }
    .item4{
        margin-left: 40px;
    }
    .item7{
        margin-bottom: 40px;
    }  
    .item6{
        margin-left: 165px;
    }
    .item8{
        margin-left: 25px;
    }
    .item10{
        margin-left: 215px ;
    }
    .item12{
        margin-left: 215px ;
    }
    .item14{
        margin-left: 215px ;
    }
    .item16{
        margin-left: 215px ;
    }
    .item16 span {
        font-style: italic;
    }
    .contact-list{
        font-size: 1rem;
        line-height: 2.3em;
    }
    .item18{
        /* border: 2px solid black; */
        margin-right: 70px;
    }
}

/* @media (min-width: 993px) and (max-width: 1139px){

.contact-list{
    font-size: 1.2rem;
    line-height: 2.5em;
}
.item18{
    border: 2px solid black;
    margin-right: 150px;
}
    
} */
